
$pink: #E59F71;
$ocre: #BA5A31;
$specblack: #0C0C0C;
$green: #69DC9E;
$white: #ffffff;
$semibold: 600;
$sizeP: 1.3em;

@font-face {
    font-family: 'Urbanist';
    src:  url('urbanbold.woff2') format('woff2');
    font-weight: bold;
        }
        @font-face {
    font-family: 'Urbanist';
    src:  url('urbansemibold.woff') format('woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Urbanist';
    src:  url('urbanregular.woff') format('woff2');
  }
  .mwhite {
    color: $white;
  }

.mocre {
  color:$ocre;
}
.mblack {
  color: $specblack;
}
.mgreen {
  color: $green;
}
  .raisa {
      background-image:  url('https://images.unsplash.com/photo-1558689509-900d3d3cc727?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
   min-height: 550px;
    background-size: cover;
    background-position: center;
  }
  .arrow {
    text-align: center;
    margin: 8% 0;
    
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .nav-link {
      display: block;
      padding: .5rem 1rem;
      text-decoration: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      font-size: 1.2em;
  }
  .link-primary{
    color: white!important;;
    padding: 4px!important;
    background-color: $ocre;
    border-radius: 8px;
  }
  .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: .1em;
      padding-bottom: 0.5em;
      top: 15px;
      background-color: white;
      border-radius: 8px;
  }


  #mainhead {
      h1 {
          color: $pink;
          font-weight: bold;
          text-align: center;
          margin-top:10px;
      }
      .col-sm {
        h1 {
          color: $specblack;
          font-weight: bold;
        }
      }
      h2 {
          color: $specblack;
          font-weight: $semibold;
      }
      p {
          font-size: 1.3em;
      }
  }

  .section2 {
    background-color: $pink;
    min-height: 400px;
    h1{
      color: white;
      font-weight: bold;
    }
    p {
      color: white;
      font-size: $sizeP;
    }
  }

  .section3 {
    h1 {
      font-weight: bold;
      color: $specblack;
    }
    p {
      font-size: $sizeP;
      color: $specblack;
    }
  }

  .section4 {
    background-color: $green;
    h1 {
      font-weight: bold;
      color: $white;
      padding: 4px;
    }
    p {
      color: $white;
      text-align: center;
      font-size: $sizeP;
    }
    span {
      font-weight: bold;
      font-size: 4em;
      
    }
  }

  .sectionhelp {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='560' preserveAspectRatio='none' viewBox='0 0 1920 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c108 C 48%2c135 144%2c244.6 240%2c243 C 336%2c241.4 384%2c100 480%2c100 C 576%2c100 624%2c243 720%2c243 C 816%2c243 864%2c109 960%2c100 C 1056%2c91 1104%2c215.2 1200%2c198 C 1296%2c180.8 1344%2c17.2 1440%2c14 C 1536%2c10.8 1584%2c183.8 1680%2c182 C 1776%2c180.2 1872%2c40.4 1920%2c5L1920 560L0 560z' fill='rgba(186%2c 90%2c 49%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c385 C 48%2c406.4 144%2c499.4 240%2c492 C 336%2c484.6 384%2c339.6 480%2c348 C 576%2c356.4 624%2c520 720%2c534 C 816%2c548 864%2c417.8 960%2c418 C 1056%2c418.2 1104%2c560.6 1200%2c535 C 1296%2c509.4 1344%2c305.8 1440%2c290 C 1536%2c274.2 1584%2c448 1680%2c456 C 1776%2c464 1872%2c355.2 1920%2c330L1920 560L0 560z' fill='rgba(229%2c 159%2c 113%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1920' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: bottom;
    background-size: 100% 100px;
    background-repeat: no-repeat;
    min-height: 300px;
    h1 {
      font-weight: bold;
      color: $specblack;
      padding: 4px;
      text-align: center;
    }
    p {
      text-align: center;
      color: $specblack;
      font-size: $sizeP;
    }
  }

  .warna-wa {
    color: $white;
    background-color: #67C857;
    border-color: transparent;
  }
  .warna-pink {
    color: $white;
    background-color: $pink;
    border-color: transparent;
  }
  .sectionfooter {
    background-color: $ocre;
    min-height: 200px;
    p {
      color: white;
      margin: 8px;
    }
  }
  
  #imgwrapper {
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    margin: 8px;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.32); 
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.32);
    h5 {
      display: inline-block;
      padding: 4px;
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }