
$pink: #E59F71;
$ocre: #BA5A31;
$specblack: #0C0C0C;
$green: #69DC9E;
$white: #ffffff;
$semibold: 600;

@font-face {
    font-family: 'Urbanist';
    src:  url('urbanbold.woff2') format('woff2');
    font-weight: bold;
        }
        @font-face {
    font-family: 'Urbanist';
    src:  url('urbansemibold.woff') format('woff2');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Urbanist';
    src:  url('urbanregular.woff') format('woff2');
  }
  .raisa {
      background-image:  url('https://images.unsplash.com/photo-1558689509-900d3d3cc727?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80');
   min-height: 550px;
    background-size: cover;
    background-position: center;
  }
  .arrow {
    text-align: center;
    margin: 8% 0;
    
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .nav-link {
      display: block;
      padding: .5rem 1rem;
      text-decoration: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      font-size: 1.2em;
  }
  .link-primary{
    color: white!important;;
    padding: 4px!important;
    background-color: $ocre;
    border-radius: 8px;
  }
  .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: .1em;
      padding-bottom: 0.5em;
      top: 15px;
      background-color: white;
      border-radius: 8px;
  }

  #mainhead {
      h1 {
          color: $pink;
          font-weight: bold;
          text-align: center;
          margin-top:10px;
      }
      h2 {
          color: $specblack;
          font-weight: $semibold;
      }
      p {
          font-size: 1.3em;
      }
  }

  

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }