@font-face {
  font-family: "Urbanist";
  src: url("urbanbold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Urbanist";
  src: url("urbansemibold.woff") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Urbanist";
  src: url("urbanregular.woff") format("woff2");
}
.mwhite {
  color: #ffffff;
}

.mocre {
  color: #BA5A31;
}

.mblack {
  color: #0C0C0C;
}

.mgreen {
  color: #69DC9E;
}

.raisa {
  background-image: url("https://images.unsplash.com/photo-1558689509-900d3d3cc727?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80");
  min-height: 550px;
  background-size: cover;
  background-position: center;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  font-size: 1.2em;
}

.link-primary {
  color: white !important;
  padding: 4px !important;
  background-color: #BA5A31;
  border-radius: 8px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  top: 15px;
  background-color: white;
  border-radius: 8px;
}

#mainhead h1 {
  color: #E59F71;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
#mainhead .col-sm h1 {
  color: #0C0C0C;
  font-weight: bold;
}
#mainhead h2 {
  color: #0C0C0C;
  font-weight: 600;
}
#mainhead p {
  font-size: 1.3em;
}

.section2 {
  background-color: #E59F71;
  min-height: 400px;
}
.section2 h1 {
  color: white;
  font-weight: bold;
}
.section2 p {
  color: white;
  font-size: 1.3em;
}

.section3 h1 {
  font-weight: bold;
  color: #0C0C0C;
}
.section3 p {
  font-size: 1.3em;
  color: #0C0C0C;
}

.section4 {
  background-color: #69DC9E;
}
.section4 h1 {
  font-weight: bold;
  color: #ffffff;
  padding: 4px;
}
.section4 p {
  color: #ffffff;
  text-align: center;
  font-size: 1.3em;
}
.section4 span {
  font-weight: bold;
  font-size: 4em;
}

.sectionhelp {
  min-height: 300px;
}
.sectionhelp h1 {
  font-weight: bold;
  color: #0C0C0C;
  padding: 4px;
  text-align: center;
}
.sectionhelp .container {
  padding-bottom: 100px;
}
.sectionhelp p {
  text-align: center;
  color: #0C0C0C;
  font-size: 1.3em;
}

.warna-wa {
  color: #ffffff;
  background-color: #67C857;
  border-color: transparent;
}

.warna-pink {
  color: #ffffff;
  background-color: #E59F71;
  border-color: transparent;
}

.sectionfooter {
  background-color: #BA5A31;
  min-height: 200px;
}
.sectionfooter p {
  color: white;
  margin: 8px;
}

#imgwrapper {
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  margin: 8px;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.32);
}
#imgwrapper h5 {
  display: inline-block;
  padding: 4px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*# sourceMappingURL=output.css.map */
